body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #a1a1a1;
    padding: 12px;
}

th {
    background-color: #dbdbdb;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #438a45;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Make sure the image doesn't exceed the width of its container */
    height: auto; /* Maintain aspect ratio */
}






nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #4CAF50;
}